<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Beta Fantasy</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
    #background{
      background-image: url("images/background.jpg")
      background-position:center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
    body {
        padding-top:80px;
        word-wrap:break-word;
        background-image: url("https://static1.squarespace.com/static/52a24b21e4b0f6168e50748f/57696c616b8f5b5491eda863/57696c75d1758e5e1de43fd9/1466526838883/IFSC_Bouldering_Vail_2016_037.jpg");
        background-size: cover;
        }
        .btn-sm{
              margin-top: 4px;
        }
        #climbers{
          position: absolute;
          top: 250px;
          left: 150px;
          border-style: solid;
          border-color: white;
          background-color: rgba(255,255,255, 0.6);
        }
        .climberRow{
          padding:15px;
          border-style: solid;
          border-color: white;
          background-color: rgba(255,255,255, 0.6);
        }
        .climberTableCell{
          padding:11px;
          text-align: center;
        }
        h1{
          position:absolute;
          top: 71px;
          font-size: 65px;
          text-shadow: 2px 2px #ff0000;
        }

        #header{
          position: absolute;
          top: 10px;
          border-top: none;
          width: 61%;
        }
        .header-buttons{
          font-size: 24px;
          position: absolute;
          color: white;
          border-radius: 4px;
          transition: 0.65s;
          background-color: #302F30;
          }
        .header-buttons:hover{
          color: black;
          border-radius: 25px;
          background-color: white;
        }
        img{
          height:100%;
          width:100%;
          opacity: 0.5;
          position: absolute;
          z-index: -1;
          top: 0px;
        }
        .plusButton{
          border-radius: 8px;
          color: black;
          }
          .minusButton{
            border-radius: 8px;
            background-color: crimson;
            color: white;
            display: block;
            margin: auto;
            }
          .scrollable{
            max-height: 300px;
            overflow: scroll;
          }
        .text-danger  {
          margin: 0px;
        }
        .tierHeading{
          font-style: italic;
          font-size: 20px;
        }
        #scoreKeeper{
          position: absolute;
          top: 280px;
          left: 65%;
          font-size: 30px;
          border-style: solid;
          border-radius: 5px;
          border-color: black;
          color: white;
          padding: 20px;
          text-shadow: 2px 2px red;
          background-color: rgba(255,255,255, 0.6);
        }
        #tier1Table{
          top: 113px;
          position: relative;
          left: 10%;
        }
        #tier2Table{
          top: 142px;
          position: relative;
          left: 10%;
        }
        #tier3Table{
          top: -45px;
          position: relative;
          left: 55%;
        }
        .well{
          position: absolute;
          right: 10px;
          top: 30px;
          padding: 10px;
          max-width: 250px;
         border: 4px solid #e3e3e3;
         background-color: rgba(255,255,255, 0.6);
       }

    </style>
</head>
<body>
  <% if(user.google.token == undefined){ var email = user.local.email } %>
  <% if (user.google.token !== undefined){  var email = user.google.email }%>


<!-- <div style="background-image=url(images/background.jpg)" id="background"><div> -->


<div class="container">
  <table class="table table-dark" id="header">
 <tr>
   <td style="border-top: none"><form method="post" action="/addClimbers">
             <input type="hidden" name="currentUsername" value="<%= email %>">
             <input type="submit" value="Add Climbers" class="header-buttons">
           </form></td>
    <td style="border-top: none"><form method="post" action="/myTeam">
              <input type="hidden" name="currentUsername" value="<%= email %>">
              <input type="submit" value="My Team" class="header-buttons">
            </form></td>
  <td style="border-top: none"><form method="post" action="/leagues">
            <input type="hidden" name="currentUsername" value="<%= email %>">
            <input type="submit" value="Leagues" class="header-buttons">
          </form></td>
  </tr>
</table>

        <h1>Beta Fantasy</h1>

</div>

    <div>

        <!-- LOCAL INFORMATION -->
        <% if(user.google.token == undefined){ var email = user.local.email %>
            <div class="well">
                <h3><span class="fa fa-user"></span> Signed In</h3>

                    <p>
                        <strong>username</strong>: <%= user.local.email %><br>
                        <a href="/logout" class="btn btn-default btn-sm">Logout</a><br>
                    </p>

            </div>
        <% } %>

    <!-- GOOGLE INFORMATION -->
    <% if (user.google.token !== undefined){  var email = user.google.email %>

        <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                <p>
                    <strong>email</strong>: <%= user.google.email %><br>
                    <strong>name</strong>: <%= user.google.name %>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a><br>
                </p>

        </div>
<% } %>
<table  id="tier1Table">
  <tr>
    <th class="tierHeading">Tier1</th>
  </tr>
  <tr class="climberRow">
    <th class="climberTableCell">First name</th>
    <th class="climberTableCell">Last name</th>
    <th class="climberTableCell">Nationality</th>
    <th class="climberTableCell">2018 ranking</th>
    <th class="climberTableCell">Remove</th>
  </tr>
<%for(var i = 0; i<climber.tier1.length;i++){ %>
 <tr class="climberRow">
    <td class="climberTableCell"><%= climber.tier1[i].firstname %></td>
    <td class="climberTableCell"><%= climber.tier1[i].lastname %></td>
    <td class="climberTableCell"><%= climber.tier1[i].nationality %></td>
    <td class="climberTableCell"><%= climber.tier1[i].rank %></td>
    <th><form method="post" action="/removeClimberFromTeam">
      <input type="hidden" name="climberId" value="<%= climber.tier1[i]._id %>">
      <input type="hidden" name="tier" value="<%= climber.tier1[i].tier %>">
      <input type="hidden" name="currentUsername" value="<%= email %>">
      <input class="minusButton"type="submit" value="-"></form></th>
  </tr>
<% } %>
<%if(climber.tier1.length < 3){%>
  <tr class="climberRow">
     <td colspan="5"class="climberTableCell">
       Add <%= 3  - climber.tier1.length  %> more climbers to the tier via the Add Climbers menu!</td>
   </tr>
<% } %>
</table>

<table id="tier2Table">
  <tr>
    <th class="tierHeading">Tier2</th>
  </tr>
  <tr class="climberRow">
    <th class="climberTableCell">First name</th>
    <th class="climberTableCell">Last name</th>
    <th class="climberTableCell">Nationality</th>
    <th class="climberTableCell">2018 ranking</th>
    <th class="climberTableCell">Remove</th>

<%for(var i = 0; i<climber.tier2.length;i++){ %>
 <tr class="climberRow">
    <td class="climberTableCell"><%= climber.tier2[i].firstname %></td>
    <td class="climberTableCell"><%= climber.tier2[i].lastname %></td>
    <td class="climberTableCell"><%= climber.tier2[i].nationality %></td>
    <td class="climberTableCell"><%= climber.tier2[i].rank %></td>
    <th><form method="post" action="/removeClimberFromTeam">
      <input type="hidden" name="climberId" value="<%= climber.tier2[i]._id %>">
      <input type="hidden" name="tier" value="<%= climber.tier2[i].tier %>">
      <input type="hidden" name="currentUsername" value="<%= email %>">
      <input class="minusButton"type="submit" value="-"></form></th>
  </tr>
<% } %>
<%if(climber.tier2.length < 3){%>
  <tr class="climberRow">
     <td colspan="5"class="climberTableCell">
       Add <%= 3  - climber.tier2.length  %> more climbers to the tier via the Add Climbers menu!</td>
   </tr>
<% } %>
</table>

<table id="tier3Table">
  <tr>
    <th class="tierHeading">Tier3</th>
  </tr>
  <tr class="climberRow">
    <th class="climberTableCell">First name</th>
    <th class="climberTableCell">Last name</th>
    <th class="climberTableCell">Nationality</th>
    <th class="climberTableCell">2018 ranking</th>
    <th class="climberTableCell">Remove</th>
  </tr>
<%for(var i = 0; i<climber.tier3.length;i++){ %>
 <tr class="climberRow">
    <td class="climberTableCell"><%= climber.tier3[i].firstname %></td>
    <td class="climberTableCell"><%= climber.tier3[i].lastname %></td>
    <td class="climberTableCell"><%= climber.tier3[i].nationality %></td>
    <td class="climberTableCell"><%= climber.tier3[i].rank %></td>
    <th><form method="post" action="/removeClimberFromTeam">
      <input type="hidden" name="climberId" value="<%= climber.tier3[i]._id %>">
      <input type="hidden" name="tier" value="<%= climber.tier3[i].tier %>">
      <input type="hidden" name="currentUsername" value="<%= email %>">
      <input class="minusButton"type="submit" value="-"></form></th>
  </tr>
  <%if(climber.tier3.length < 3){
    var extraLine = 0;%>
    <tr class="climberRow">
       <td colspan="5"class="climberTableCell">
         Add <%= 3  - climber.tier3.length  %> more climbers to the tier via the Add Climbers menu!</td>
     </tr>
    <%}%> ></form></td>
<% } %>
</table>

  <div id="scoreKeeper">
    Your score = <%= score.score %>
  </div>

</body>
</html>
